<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--DB 컬럼명이 snake_case일 때 → Java 변수명을 자동으로 camelCase로 매핑
        예: user_id → userId, created_time → createdTime-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!--결과값이 null인 컬럼도 → 대응되는 자바 필드의 setter를 호출해 null을 명시적으로 넣어줘요
        기본값은 false → 해당 필드는 아예 setter가 호출되지 않음-->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
</configuration>